In [8]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 11:30:23--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.164.208, 52.216.51.144, 54.231.228.248, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.164.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-29 11:30:24 (32.6 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [11]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
engine = create_engine('postgresql://root:root@localhost:2345/ny_taxi')

In [13]:
engine.connect()

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265